{% extends "base.html.twig" %} 

{% block body %}
<div class="container" style="margin-top: 4%; background-color:rgb(190, 190, 190)">
    <div class="container" style="background-color: rgb(27, 27, 27); width:600rem; margin-left:-1%; padding:0.5%">

        <h1 style="color: white; margin-left:2%"> {{ month }} </h1>

        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;  float: right; margin-top: -4%">Select month</a>

        <div class="dropdown-menu">
            {% for key,value in months %}
                        
            <a class="dropdown-item" href="/{{ key }}"> {{ value }} </a>
                            
            {% endfor %}

        </div>
    </div>  
    <div class="container mt-5" style="display: inline-block;">

        {% for key, full in full %}
            {% set month = month %} 
            {% set key = key +1 %}           
            <a href="/{{ month }}/{{ key }}" class="card border-primary mb-4"  style="width: 11rem; text-decoration:none; color:black; max-height: 8rem; overflow:hidden; display:inline-block">                             
                <div class="card-body">
            {% if full[1] == 'Sat' or full[1] == 'Sun'  %}
                <h1 class="card-title" style="color: red;">{{ key }}</h1>
            {% else %}

                <h1 class="card-title">{{ key  }}</h1>
            {% endif %}
            <p style=" margin-top:-25%; margin-left:35% ">{{ full[1]  }}</p>
            <h4 style="margin-top: -5%;"> {{ full[0][0][1] }} Event/s!</h4>
    </div>
            </a>
        {% endfor %}
    </div>



</div>


{% endblock %}